@charset "UTF-8";
/* pretendar */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "lemonmilk-bold";
  src: url(../font/LEMONMILK-Bold.woff2);
}
@font-face {
  font-family: "lemonmilk-light";
  src: url(../font/LEMONMILK-Light.woff2);
}
@font-face {
  font-family: "lemonmilk-medium";
  src: url(../font/LEMONMILK-Medium.woff2);
}
@font-face {
  font-family: "lemonmilk-reqular";
  src: url(../font/LEMONMILK-Regular.woff2);
}
html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "Pretendard", sans-serif;
  box-sizing: border-box;
  overscroll-behavior: none;
  width: 100%;
  height: 100%;
}

body {
  line-height: 1.3;
  color: #333;
  background-color: #F3F3F3;
}

ul, ol, li {
  list-style: none;
}

a {
  font-style: normal;
  text-decoration: none;
  color: #333;
}

@keyframes wavyUp {
  from {
    transform: translateY(100%) translateZ(0px);
  }
  to {
    transform: translateY(0) translateZ(0px);
  }
}
@keyframes trY {
  from {
    transform: translateY(10rem);
  }
  to {
    transform: translateY(0);
  }
}
section {
  position: relative;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.index_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.index_wrapper header {
  position: relative;
}
.index_wrapper header .head_wrap {
  position: fixed;
  top: 3rem;
  left: 0;
  right: 0;
}
.index_wrapper header .head_wrap .head_infor {
  display: flex;
  justify-content: flex-end;
  border-top: 2px solid #333;
  margin: 0 4rem;
  padding: 1rem 0;
  border-bottom: 1px solid #333;
}
.index_wrapper header .head_wrap .head_infor span {
  font-size: 1.8rem;
  animation: overlayoff 1s;
  animation-delay: calc(0.1s * var(--i));
}
.index_wrapper .container_wide {
  position: relative;
  width: 100%;
  height: 100%;
  /* sec2 비디오 */
}
.index_wrapper .container_wide .seciton1 {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.index_wrapper .container_wide .seciton1 .sec1_cont {
  width: 100%;
}
.index_wrapper .container_wide .seciton1 .sec1_cont h1 {
  text-align: center;
  font-size: clamp(2rem, 28cqi, 40rem);
  line-height: 0.8;
  overflow: hidden;
}
.index_wrapper .container_wide .seciton1 .sec1_cont h1 span {
  display: inline-block;
  letter-spacing: -9rem;
  transform: translateY(100%) translateZ(0px);
  transition: transform 1s;
  font-weight: 500;
}
.index_wrapper .container_wide .section2 {
  display: flex;
  justify-content: center;
  height: 200%;
}
.index_wrapper .container_wide .section2 .sec2_video_wrap {
  position: sticky;
  top: 0;
  width: 100%;
  height: 50%;
}
.index_wrapper .container_wide .section2 .sec2_video_wrap video {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(0.3);
  will-change: transform;
  opacity: 0.6;
  top: 0;
  left: 0;
}
.index_wrapper .container_wide .section2 .sec2_txt_wrap {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.index_wrapper .container_wide .section2 .sec2_txt_wrap h2 {
  font-size: clamp(2rem, 10cqi, 15rem);
  color: #333;
}
.index_wrapper .container_wide .section2 .sec2_txt_wrap ul {
  position: relative;
}
.index_wrapper .container_wide .section2 .sec2_txt_wrap ul li {
  font-size: clamp(1rem, 10cqi, 4rem);
  text-align: center;
  font-weight: 800;
  line-height: 1.5;
  opacity: 0.4;
  transition: opacity 0.3s, transform 1s;
  color: #333;
}
.index_wrapper .container_wide .section2 .sec2_txt_wrap ul li.opacity {
  opacity: 1;
  transition: opacity 0.3s;
}/*# sourceMappingURL=style.css.map */