// 폰트
/* pretendar */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


// 리사이징
$w1100:1100px;
@mixin res--w1100{
    @media screen and (max-width: #{$w1100}){
		@content;
	}
}

$w600:600px;
@mixin res--w600{
    @media screen and (max-width: #{$w600}){
		@content;
	}
}


@mixin font-work{
    font-family: 'Work Sans', sans-serif;
    @content;
}
@mixin font-pre{
    font-family: 'Pretendard', sans-serif;
    @content;
}
@mixin font-lebol{
    font-family: "lemonmilk-bold",sans-serif;
    @content;
}
@mixin font-lelig{
    font-family: "lemonmilk-light",sans-serif;
    @content;
}
@mixin font-leme{
    font-family: "lemonmilk-medium",sans-serif;
    @content;
}
@mixin font-lere{
    font-family: "lemonmilk-reqular",sans-serif;
    @content;
}

@font-face{
    font-family: "lemonmilk-bold";
    src:url(../font/LEMONMILK-Bold.woff2);
}
@font-face{
    font-family: "lemonmilk-light";
    src:url(../font/LEMONMILK-Light.woff2);
}
@font-face{
    font-family: "lemonmilk-medium";
    src:url(../font/LEMONMILK-Medium.woff2);
}
@font-face{
    font-family: "lemonmilk-reqular";
    src:url(../font/LEMONMILK-Regular.woff2);
}

@mixin height($h){height: $h; line-height: calc($h - 1px);}
@mixin hidden(){opacity: 0;visibility: hidden; transition: all .3s;}
@mixin show(){opacity: 1;visibility: visible;}

// 공통
html,body{
    margin: 0;padding: 0; font-size: 10px; @include font-pre; box-sizing: border-box; overscroll-behavior: none; width: 100%;height: 100%;
    
}
body{
    line-height: 1.3; color: #333; background: #fff; transition: background-color 250ms ease;
}
ul,ol,li {
	list-style: none;
}
a{
    font-style: normal; text-decoration: none; color: #000;
}

// 애니메이션
@mixin fadeInUp_prev{
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    transition-timing-function: linear;
    @content;
}
@mixin fadeInUp{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    visibility: visible;
    opacity: 1;
    transition: all .3s;
    transition-timing-function: linear;
    @content;
}

@keyframes wavyUp{
    from{
        transform: translateY(100%) translateZ(0px);
    }
    to{
        transform: translateY(0) translateZ(0px);
    }
}

@keyframes trY{
    from{
        transform: translateY(10rem);
    }
    to{
        transform: translateY(0);
    }
}

section{
    position: relative; width: 100%; left: 50%; transform: translateX(-50%);
}
.index_wrapper{
    position: fixed; top: 0; left: 0; width: 100%; height: 100%; overflow-y: scroll; transition: background-color 250ms ease; background-color: #fff; 
    header{
        position: fixed; top: 3rem; right: 4rem; display: inline-block; z-index: 100;  mix-blend-mode: difference; color: #fff; background-color: #000; border-radius: 2rem; padding: .5rem .5rem; border: 1px solid #fff;
        .head_wrap{
            span{
                font-size: 1.2rem; @include font-lelig;
            }
        }
        .sec1_bubble {
            position: fixed;left:3rem ; background: #fff; border-radius: .8rem; font-size: 1.4rem; padding:1rem; border: .2rem solid #000; color: #000; 
            &::after{
                content: ''; position: absolute;bottom: 0;left: 50%;width: 0; height: 0; border: 1rem solid transparent; border-top-color: #fff;border-bottom: 0;border-left: 0;margin-left: -1rem;margin-bottom: -1rem;

            }
        }
    }
    .container_wide{
        position: relative; width: 100%; height: 100%;
        .seciton1{
            position: relative; height: 100%; display: flex; align-items: center; justify-content: space-between; 
            &.ani{
                .sec1_cont{
                    h1{
                        span{

                        }
                    }
                }
            }
            .sec1_cont{
                width: 100%; text-align: center;
                h1{
                    text-align: center;font-size: clamp(2rem, 28cqi, 40rem); line-height: .8; overflow: hidden; display: inline-block; 
                    span{
                        display: inline-block; letter-spacing:-9rem ; transform: translateY(100%) translateZ(0px); transition: transform 1s; font-weight: 500; color: #000;  mix-blend-mode: difference;
                    }
                    
                }
            }
            
        }
        /* sec2 비디오 */
        .section2{
            display: flex; justify-content: center; height: 300%;
            .sec2_video_wrap{
                position: sticky; top: 0; width: 100%; height: 35%; background-color: #ffffff;
                video{
                    position: absolute; width: 100%; height: 100%;object-fit: cover; transform: scale(.3); will-change: transform; opacity: 1; top: 0; left: 0;  filter: grayscale(1); transition: background-color 250ms ease;
                }
            }
            .sec2_txt_wrap{
                position: absolute; top: 0; width: 100%; display: flex; justify-content: center; flex-direction: column; align-items: center; 
                &.ani{
                    ul{
                        opacity: 1; transition: opacity .3s;
                        li{
                        }
                    }
                }
                h2{
                    font-size: clamp(2rem,10cqi,13rem); mix-blend-mode: difference; color: #fff; @include font-lelig; text-align: center;
                    &.sec2_video_txt1{
                        margin: 10vw 0 8vw;
                    }
                }
                ul{
                    position: relative; transform: scale(0); max-width: 100rem; opacity: 0; transition: opacity .3s; padding: 0;
                    li{
                        font-size: clamp(1rem,10cqi,4rem); text-align: center; font-weight: 800; line-height: 1.5; transition: opacity .3s, transform 1s; mix-blend-mode: difference;  z-index: 2; @include font-pre; color: #fff;
                        word-break: keep-all; display: inline; height: auto;
                    }
                }
                .sec2_career{
                    transform: scale(0); opacity: 0; display: block; transition: all 1s ease; mix-blend-mode: difference;
                    ul{
                        transform: scale(1) ; 
                        li{
                            display: block; margin-bottom: 3vw;
                            &:last-child{
                                margin-bottom: 0;
                            }
                            span{
                                display: block;
                            }
                        }
                    }
                }
                .sec2_skill{
                    transform: scale(0); opacity: 0; display: block; transition: all 1s ease; mix-blend-mode: difference;
                    ul{
                        transform: scale(1);
                        li{
                            display: block; margin-bottom: 3vw;
                            &:last-child{
                                margin-bottom: 0;
                            }
                            span{
                                display: block;
                            }
                        }
                    }
                }
            }
        }
        /* sec3 프로젝트 */
        .section3{
            position: relative; height: 200%; 
            @include res--w1100{
                height: 400%;
            }
            @include res--w600{
                height: 800%;
            }
            
            .sec03_sticky{
                position: sticky; top: 0; width: 100%; height: 50%;
                @include res--w1100{
                    height: 25%;
                }
                @include res--w600{
                    height: 12.5%;
                }
                .sec03_inner{
                    position: relative; width: 100%; height: 100%; overflow: hidden
                    ;
                    .sec03_slider{
                        height: 100%; display: flex; width: min-content; overflow: hidden; will-change: transform; 
                        .project{
                            position: relative; width: 25vw; height: 88%; padding: 4vw 1vw 6rem; display: flex; flex-direction: column;
                            @include res--w1100{
                                padding: 4rem 2rem 6rem;
                            }
                            @include res--w1100{
                                width: 50vw;
                            }
                            @include res--w600{
                                width: 100vw;
                            }
                        }
                        .imge_container{
                            position: relative; width: 100%; aspect-ratio:  20 / 9; overflow: hidden;
                        }
                        .sec03_img{
                            position: relative; width: 100%; height: 100%; object-fit: cover; object-position: center; filter: grayscale(50%); border-radius: .5rem;
                        }
                        .start{
                            justify-content: flex-start;
                        }
                        .mid{
                            justify-content: center;
                        }
                        .end{
                            justify-content: flex-end;
                        }
                        .sec03_detail_wrap{
                            display: flex;  width: 100%; padding-top:1rem ; flex-direction: column; padding: 1rem 0 0;mix-blend-mode: difference; gap: .5rem;
                            .sec03_detail{
                                display: flex; align-items: flex-end; gap: 1rem;
                            }
                            span{
                                font-size:clamp(1.3rem,1.7vw,1.7rem); 
                            }
                            h4{
                                margin: 0; font-size:clamp(1.5rem,1.7vw,1.8rem); font-weight: 500;
                            }
                            p{
                                font-size:clamp(1.1rem,1.7vw,1.4rem); margin: 0;
                            }
                        }
                    }
                }
            }
        }
        /* sec4 컨택트 */
        .section4{
            position: relative; height: 200%; 
            .sec04_sticky{
                position: sticky; top: 0; width: 100%; height: 50%; display: flex; justify-content: center; align-items: center;
                h2{
                    font-size: clamp(1.5rem,17cqi,20rem); color: #fff; z-index: 1; @include font-lelig;
                }
                .sec04_inner{
                    position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden;
                    .sec04_circle{
                        position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%) scale(0); width: 150vmax; height: 150vmax; background-color: #000; border-radius: 50%;
                    }
                }
            }
        }
        /* sec5 */
        .section5{
            background-color: #000; height: 100%;
            .sec05_inner{
                height: 50%; display: flex; justify-content: center; align-items: center; flex-direction: column; overflow: hidden;
                p,a{
                    color: #fff; will-change: transform; margin: 0;
                } 
                .sec05_left_txt{
                    font-size: clamp(2rem,9cqi,9rem); margin-bottom: 2rem;
                }
                .sec05_right_txt{
                    font-size: clamp(1rem, 4cqi, 3rem);
                }
            }
        }

        /* sec6 */
        .section6{
            position: relative;  display: flex; align-items: center; justify-content: space-between; background-color: #000; padding: 0 0 2rem;
            .sec6_cont{
                width: 100%; mix-blend-mode: difference;
                h1{
                    text-align: center;font-size: clamp(2rem, 15cqi, 30rem); line-height: .9; overflow: hidden; margin: 0; display: flex; justify-content: center;
                    span{
                        display: inline-block;  transition: transform .4s; font-weight: 500;  color: #fff; @include font-lelig; transform: translateY(100%) translateZ(0px);
                    }
                }
            }
        }
    }
    footer{
        position: relative;
        .go_top{
            position: fixed;  right: 4rem; bottom: 3rem; background-color: #000; color: #fff; transition: all .3s ease-in-out; text-transform: uppercase;  z-index: 100;  mix-blend-mode: difference;
            #topButton{
                mix-blend-mode: difference; border: none;border-radius: 50%; padding: 10px; cursor: pointer; width: 6rem; height: 6rem; font-size: 1.5rem;  @include font-leme;
            }
        }
        .footer_bottom{
            position: relative; display: flex; padding: 5rem 2rem; align-items: center; 
            ul{
                margin: 0; padding: 0;
                li{
                    a{
                        font-size: 1.4rem; @include font-lere; color: #fff;
                        
                    }
                }
            }
            .f_center{
                text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);  color: #fff;
                
                span{
                    font-size: 1.4rem; @include font-pre; opacity: .5;
                    
                }
                p{
                    font-size: 1.1rem; @include font-leme; opacity: .5; margin: 0; margin-top: .5rem;
                    
                }
            }
        }
    }
}